	<div class="container-fluid form-content d-flex flex-column justify-content-center align-items-center">

		<div class="middle-focus d-flex flex-column justify-content-center align-items-center">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field input-container d-flex mw-100 mb-4 position-relative text-muted">
          <i class="fas fa-envelope-open-text icon position-absolute" aria-hidden="true""></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "d-block my-3 mx-0 user-name" %>
        </div>

        <div class="field input-container d-flex mw-100 mb-4 position-relative text-muted">
          <i class="far fa-user icon position-absolute" aria-hidden="true""></i>
          <%= f.text_field :username, autofocus: true, autocomplete: "name", placeholder: "Username", class: "d-block my-3 mx-0 user-name" %>
        </div>

        <div class="field input-container d-flex mw-100 mb-4 position-relative text-muted">
          <i class="fas fa-file-signature icon position-absolute" aria-hidden="true""></i>
          <%= f.text_field :full_name, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "d-block my-3 mx-0 user-name" %>
        </div>

        <div class="field input-container d-flex mw-100 mb-4 position-relative text-muted">
          <i class="fas fa-user-lock icon position-absolute" aria-hidden="true""></i>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "d-block my-3 mx-0 user-password" %>
        </div>

        <div class="field input-container d-flex mw-100 mb-5 position-relative text-muted">
          <i class="fas fa-user-lock icon position-absolute" aria-hidden="true""></i>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "d-block my-3 mx-0 user-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary mn-clr text-center w-100 user-password login mt-5" %>
        </div>

        <div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
	  </div>
  </div>
